@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.fondo{
    background: var(--secondary-4, #EDFCF3);
    justify-content: start;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 100dvh;
    width: 100dvw;
}

.title {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    display: flex;
}

.change{
    color: var(--Principal, #042F1F);
    font-family: "Poppins", sans-serif;
    line-height: normal;
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
}

.IT{
    color: var(--secondary-1, #16B36A);
    font-family: "Poppins", sans-serif;
    line-height: normal;
    font-style: normal;
    margin-left: 10px;
    font-weight: 800;
    font-size: 55px;
}

.subtitle{
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    flex-shrink: 0;
    display: flex;
    height: 165px;
    width: 280px;
    z-index: 1;

    .s1{
        color: #042F1F;
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    .s2{
        color: #16B36A;
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    .s3{
        color: #042F1F;
    }

    .s4{
        color: #042F1F;
        font-family: "Poppins", sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    .s5{
        color: #16B36A;
    }

}

.imagen{
    width: 130px;
    height: 250px;
    position: absolute;
    margin-top: 200px;
    margin-left: 140px;
}

.imagen img{
    object-fit: fill;
    display: block;
    height: 100%;
    width: 100%;
}

/* Añadir transición para la animación */
.form-group-user input,
.form-group-email input,
.form-group-password input {
    transition: all 0.3s ease;
    font-size: 16px;
    padding: 0 0 0 15px; /* Ajusta el padding para centrar el texto */
    height: 100%;
    box-sizing: border-box;
}

.form-group-user input:focus,
.form-group-email input:focus,
.form-group-password input:focus {
    outline: none;
}

.form-group-user label,
.form-group-email label,
.form-group-password label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #000000;
    pointer-events: none;
    transition: all 0.3s ease;
}

.form-group-user input:focus + label,
.form-group-user input:not(:placeholder-shown) + label,
.form-group-email input:focus + label,
.form-group-email input:not(:placeholder-shown) + label,
.form-group-password input:focus + label,
.form-group-password input:not(:placeholder-shown) + label {
    top: -10px;
    left: 15px;
    font-size: 12px;
    color: #042F1F;
}

.forms-section {
    color: #042F1F;
    margin-top: 75px;
    width: 300px;
}

.form-group-user,
.form-group-email,
.form-group-password {
    font-family: "Poppins", sans-serif;
    padding: 0; /* Elimina padding innecesario */
    height: 50px;
    display: flex;
    align-items: center; /* Asegura que los elementos estén centrados verticalmente */
    border-radius: 17px;
    background: var(--secondary-3, #D3F8E0);
    margin-bottom: 25px;
    position: relative; /* Necesario para la posición absoluta de los labels */
}

#user,
#email,
#password {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #000000;
    padding-left: 15px; /* Ajusta el padding izquierdo */
    box-sizing: border-box;
}

.button-register{
    background: var(--secondary-1, #16B36A);
    color: var(--secondary-4, #EDFCF3);
    font-family: "Poppins", sans-serif;
    margin-top: 50px;
    justify-content: center;
    line-height: normal;
    align-items: center;
    border-radius: 17px;
    border-style: none;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    flex-shrink: 0;
    display: flex;
    padding: 10px;
    height: 55px;
    width: 100%;
    gap: 10px;
}
