@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Medida general y color de fondo */

/* Contenedor principal */
.start {
    background: var(--secondary-4, #EDFCF3);
    justify-content: start;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 100dvh;
    width: 100dvw;
}

/* Diseño de título */
.title {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    display: flex;
    
    .change{
        color: var(--Principal, #042F1F);
        font-family: "Poppins", sans-serif;
        line-height: normal;
        font-style: normal;
        font-weight: 800;
        font-size: 55px;
    }
    
    
    .IT{
        color: var(--secondary-1, #16B36A);
        font-family: "Poppins", sans-serif;
        line-height: normal;
        font-style: normal;
        margin-left: 10px;
        font-weight: 800;
        font-size: 55px;
    }
}

  

/* Se cierra diseño de titulo */

/* Empieza Carrusel */

.swiper {
    margin-top: 50px;
    height: 250px;
    width: 250px;
}

.swiper-slide {
    justify-content: center;
    align-items: center;
    background: #fff;
    text-align: center;
    font-size: 18px;
    display: flex;
}

.swiper-slide img {
    object-fit: fill;
    display: block;
    height: 100%;
    width: 100%;
}

/* Se cierra carrusel */

/* Empieza slogan */

.slogan {
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    flex-shrink: 0;
    display: flex;
    height: 165px;
    width: 280px;

  /* PARTE UNO */

  .s1 {
    color: var(--Principal, #042F1F);
    font-family: "Poppins", sans-serif;
    line-height: normal;    
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
  }
  
  /* PARTE DOS */

  .s2 {
    color: var(--secondary-1, #16B36A);
    font-family: "Poppins", sans-serif;
    line-height: normal;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
  }

  /* PARTE TRES */

  .s3 {
    color: var(--Principal, #042F1F);
    font-family: "Poppins", sans-serif;
    line-height: normal;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
  }

  /* PARTE 4 */
  
  .s4 {
    color: var(--Principal, #042F1F);
  }

}

/* BOTON PARA INICIAR REGISTRO */

.button-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Estilo del botón */

button {
    background: var(--Principal, #16B36A);
    color: var(--secondary-4, #EDFCF3);
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    font-weight: 700;
    margin-top: 55px;
    font-size: 25px;
    display: flex;
    padding: 10px;
    width: 344px;
    height: 55px;
    border: none;
    gap: 10px;
}


